<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mynirvana">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name=".app.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <receiver
            android:name=".domain.notification.broadcastReceiver.NotificationBroadcastReceiver"
            android:enabled="true" />

        <activity
            android:name=".presentation.activities.onBoardingAcitivity.OnBoardingActivity"
            android:exported="false"
            android:theme="@style/Theme.MyNirvana.NoActionBar" />
        <activity
            android:name=".presentation.activities.tasks.TaskCreatorActivity"
            android:exported="false"
            android:theme="@style/Theme.MyNirvana.NoActionBar" />
        <activity
            android:name=".presentation.activities.pomodoros.pomodoroCreatorActivity.PomodoroCreatorActivity"
            android:exported="false"
            android:theme="@style/Theme.MyNirvana.NoActionBar" />
        <activity
            android:name=".presentation.activities.pomodoros.pomodoroTimerActivity.PomodoroTimerActivity"
            android:exported="false"
            android:theme="@style/Theme.MyNirvana.NoActionBar" />
        <activity
            android:name=".presentation.activities.meditations.meditationCoursesActivity.MeditationCourseActivity"
            android:exported="false"
            android:label="@string/title_activity_meditation_course"
            android:theme="@style/Theme.MyNirvana.NoActionBar" />

        <service
            android:name=".domain.timer.TimerService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".presentation.activities.meditations.meditationTimerActivity.MeditationTimerActivity"
            android:exported="false"
            android:theme="@style/Theme.MyNirvana" />
        <activity
            android:name=".presentation.activities.meditations.meditationCreatorActivity.MeditationCreatorActivity"
            android:exported="false"
            android:theme="@style/Theme.MyNirvana" />
        <activity
            android:name=".presentation.activities.mainActivity.MainActivity"
            android:exported="true"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>